In [1]:
import gzip
import pandas as pd

In [2]:
# Load campaign data
campaign_data = pd.read_csv("google-step-up-challenge/Historic Campaign Data - Sheet1.csv")
# Inspect campaign dataset
campaign_data.info()
campaign_data.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1664 entries, 0 to 1663
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Week_Start     1664 non-null   object
 1   Week_Date      1664 non-null   object
 2   Campaign_Name  1664 non-null   object
 3   Market         1664 non-null   object
 4   Channel        1664 non-null   object
 5   Spend_USD      1664 non-null   int64
 6   Impressions    1664 non-null   int64
 7   Reach          1664 non-null   int64
 8   Conversions    1664 non-null   int64
dtypes: int64(4), object(5)
memory usage: 117.1+ KB

(1664, 9)

In [3]:
# Print 10 rows of campaign_data
campaign_data.head(10)

,Week_Start,Week_Date,Campaign_Name,Market,Channel,Spend_USD,Impressions,Reach,Conversions
0,2023-01-02,2023-01-02,Always_On,UK,YouTube,6212,331780,111134,214
1,2023-01-02,2023-01-02,Always_On,UK,Social,4262,318639,154596,137
2,2023-01-02,2023-01-02,Always_On,UK,Display,2009,515503,101883,18
3,2023-01-02,2023-01-02,Always_On,UK,Search,5513,67707,61330,466
4,2023-01-02,2023-01-02,Always_On,DE,YouTube,5664,426034,190810,173
5,2023-01-02,2023-01-02,Always_On,DE,Social,7944,480628,224773,282
6,2023-01-02,2023-01-02,Always_On,DE,Display,2804,818015,203508,25
7,2023-01-02,2023-01-02,Always_On,DE,Search,3345,48268,40600,305
8,2023-01-02,2023-01-02,Always_On,SA,YouTube,4915,313629,105299,650
9,2023-01-02,2023-01-02,Always_On,SA,Social,3534,253551,114033,448

In [9]:
# Isolate categorical column names, excluding time-series identifiers
cat_cols = (campaign_data.select_dtypes("object")
                         .drop(columns=["Week_Start", "Week_Date"])
                         .columns.to_list()
           )
# Generate a dict of unique entries for categorical columns.
unique_map =  {col: campaign_data[col].unique()
               .tolist() for col in cat_cols} 

# Print summary of unique values
for k, v in unique_map.items():
    print(f"{k}:, {v}")

Campaign_Name:, ['Always_On', 'ExamPrep_23', 'BackToSchool_23', 'NewYear_24', 'BackToSchool_24']
Market:, ['UK', 'DE', 'SA', 'EG']
Channel:, ['YouTube', 'Social', 'Display', 'Search']

Market
UK    416
DE    416
SA    416
EG    416
Name: count, dtype: int64